body{
    background-color: black;
}
.bigbox{
    border: 2px solid rgb(255, 255, 255);
    width: 60vw;
    margin: auto;
    margin-top: 10vh;
    color: white;
    border-radius: 20px;
    overflow: hidden;
}
.imgs{
    width: 60vw;
    height: 70vh;
    color: white;
}
.btn{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color:transparent;
    color: white;
    border: none;
}
@media screen and (max-width:600px) {
    .bigbox{
        border: 2px solid rgb(255, 255, 255);
        width: 100vw;
        margin: auto;
        margin-top: 0px;
        height: 100dvh;
        color: white;
        border-radius: 20px;
        overflow: hidden;
    }
    .imgs{
        width: 100vw;
        height: 92dvh;
        color: white;
    }
}